* {
    font: 300 16px/120% "proxima-nova", sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background-color: #F38E59;
    padding: 15em 1em 5em 0em;
    margin: -1%;
}

header nav {
    padding: 0.5rem 0 0 2rem !important;
    margin-top: -19%;
}

.navBar ol {
    display: flex;
}

.btn_days {
    background-color: rgb(2, 32, 47);
    color: white;
    font-weight: 700;
    padding: 0.9375rem 2rem;
    border: none;
    margin: 0 2px 0 2px;
    border-radius: 0.4rem;
    float: right;
}

.btn_days:hover {
    background-color: black;
}

.btn_signup {
    font-weight: 700;
    padding: 0.9375rem 2rem;
    background: none !important;
    border: 2px solid white;
    margin: 0 2px 0 2px;
    border-radius: 0.4rem;
    float: right;
    color: white;
}

.btn_signup:hover {
    background-color: grey;
}

.nav_2 ol {
    list-style-type: none;
}

h1 {
    font-size: 4.5em;
    color: white;
}

.navPosition {
    display: flex;
}

.navPosition a:hover {
    background-color: darkgray;
}

.nav_3 {
    float: right;
    margin-top: -8%;
}

header ol li a {
    text-decoration: none;
    color: white;
    padding: 1rem .8em;
}

header nav img {
    max-width: 100%;
    width: 70% !important;
}

header h1, header p {
    text-align: center;
}

header h1 strong {
    color: white;
}

.reach_out {
    margin-left: 6%;
    margin-top: 6%;
}

.reach_out h2 {
    font-size: 1.9em;
    color: #5BB5DE;
    font-weight: 600;
}

.reach_out form input {
    width: 50%;
    border-radius: 0.4em;
    padding: .6rem .8rem;
    border: 1px solid #C0C6CC;
    margin: 1.15%;
}

#firstname, #lastname, #email, #phone_number, #message {
    text-align: center;
}

#submit {
    background-color: #F49B6C;
    max-width: 19%;
    margin-left: 37%;
    margin-top: 3%;
    color: white;
    text-transform: uppercase;
    padding: 2.3%;
    border-radius: 0.4em;
    border: none;
}

#submit:hover {
    background-color: darkorange;
}

.lander_team a {
    color: #F49B6C !important;
}

.lander_contact {
    margin-bottom: 4em;
    margin-top: -46%;
    margin-left: 55%;
}

.lander_contact h2 {
    font-size: 1.9em;
    color: #5BB5DE;
    font-weight: 600;
}

.social_list {
    margin-left: 55%;
    margin-top: -2%;
}

.social_list h3 {
    font-weight: 300;
    font-size: 1.75em;
}

.facebook {
    width: 100%;
    padding: 0 2em 0.5em 0 !important;
}

.facebook .facebook_icon {
    background: url("https://landerapp.com/img/social-facebook.svg") center right no-repeat;
    width: 100%;
    float: left;
    padding: 0 0em 6.5em 0 !important;
    margin-left: -86%;
}

.facebook_text {
    padding-left: 20%;
    padding-top: 1%;
}

.twitter {
    width: 100%;
    padding: 0 2em 0.5em 0 !important;
}

.twitter .twitter_icon {
    background: url("https://landerapp.com/img/social-twitter.svg") center right no-repeat;
    width: 100%;
    float: left;
    padding: 0 0em 6.5em 0 !important;
    margin-left: -86%;
}

.twitter_text {
    padding-left: 20%;
    padding-top: 1%;
}

.linkedin {
    width: 100%;
    padding: 0 2em 0.5em 0 !important;
}

.linkedin .linkedin_icon {
    background: url("https://landerapp.com/img/social-linkedin.svg") center right no-repeat;
    width: 100%;
    float: left;
    padding: 0 0em 6.5em 0 !important;
    margin-left: -86%;
}

.linkedin_text {
    padding-left: 20%;
    padding-top: 1%;
}

.links_footer {
    display: flex;
    background-color: #404040;
    margin-top: 20%;
}

.links_footer h5 {
    color: #fff;
}

.links_footer li {
    list-style-type: none;
}

.links_footer li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.button_socials {
    color: #F49B6C !important;
}

.links_footer .button_socials {
    display: ruby-base-container;
    list-style-type: none;
}

.fa.fa-facebook, .fa.fa-twitter, .fa.fa-instagram, .fa.fa-linkedin {
    font-size: 130%;
}

.try_lander .phrase {
    color: rgba(255, 255, 255, 0.6);
}

.try_lander button {
    background-color: rgb(2, 32, 47);
    color: white;
    margin: 1.7em 0;
    border-radius: 0.4em;
    font-weight: 700;
    border: none;
    padding: 9%;
    padding-left: 22%;
    padding-right: 16%;
}

.create_landing:hover {
    background-color: black;
}

.copyright {
    padding: 1.5%;
    background-color: #333333;
    line-height: 2.5em;
}

.copyright p {
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    line-height: inherit;
    margin-left: 5%;
}

.copyright p a {
    color: #F49B6C !important;
    text-decoration: none;
}

@media (max-width: 750px) {
    * {
        font: 300 16px/120% "proxima-nova", sans-serif;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    header nav img {
        position: relative;
        top: -154%;
        left: 108%;
    }

    .btn_days {
        background-color: rgb(2, 32, 47);
        color: white;
        font-weight: 700;
        padding: 0.9375rem 2rem;
        border: none;
        margin: 0 2px 0 2px;
        border-radius: 0.4rem;
        float: right;
        position: relative;
        top: 69%;
        left: -38%;
    }

    .btn_signup {
        font-weight: 700;
        padding: 0.9375rem 2rem;
        background: none !important;
        border: 2px solid white;
        margin: 0 2px 0 2px;
        border-radius: 0.4rem;
        float: right;
        color: white;
        position: relative;
        top: 177%;
        left: -207%;
    }

    h1 {
        font-size: 4.5em;
        color: white;
        position: sticky;
        top: 36%;
    }

    header p {
        margin-top: 16%;
    }

    .reach_out {
        margin-left: 6%;
        margin-top: 4%;
        position: relative;
        left: 21%;
    }

    .lander_team {
        position: relative;
        left: -25%;
        padding-top: 29%;
        margin-left: 6%;
        margin-top: 4%;
        display: block;
    }

    .facebook .facebook_icon {
        background: url("https://landerapp.com/img/social-facebook.svg") center right no-repeat;
        width: 100%;
        float: left;
        padding: 0 0em 5.5em 0 !important;
        margin-left: -50%;
        margin-top: -8%;
    }

    .facebook_text {
        padding-left: 0%;
        padding-top: 25%;
    }

    .twitter .twitter_icon {
        background: url("https://landerapp.com/img/social-twitter.svg") center right no-repeat;
        width: 100%;
        float: left;
        padding: 0 0em 5.5em 0 !important;
        margin-left: -50%;
        margin-top: -8%;
    }

    .twitter .twitter_text {
        padding-left: 0%;
        padding-top: 26%;
    }

    .linkedin .linkedin_icon {
        background: url("https://landerapp.com/img/social-linkedin.svg") center right no-repeat;
        width: 100%;
        float: left;
        padding: 0 0em 5.5em 0 !important;
        margin-left: -50%;
        margin-top: -8%;
    }

    .linkedin .linkedin_text {
        padding-left: 0%;
        padding-top: 26%;
    }

    #submit {
        background-color: #F49B6C;
        max-width: 19%;
        margin-left: 17%;
        margin-top: 3%;
        color: white;
        text-transform: uppercase;
        padding: 2.3%;
        border-radius: 0.4em;
        border: none;
    }

    .about_lander {
        position: relative;
        margin-left: 34%;
    }

    .help {
        position: relative;
        margin-top: 35%;
        margin-left: -36%;
    }

    .resources {
        position: relative;
        margin-top: 56%;
        margin-left: -19%;
    }

    .landing_pages {
        position: relative;
        margin-top: 81%;
        margin-left: -19%;
    }

    .commercial {
        position: relative;
        margin-top: 112%;
        margin-left: -31%;
    }

    .try_lander {
        position: relative;
        margin-top: 144%;
        margin-left: -19%;
    }

    .copyright p {
        color: rgba(255, 255, 255, 0.6);
        margin: 0;
        line-height: inherit;
        text-align: center;
        display: grid;
    }
}